* {
    box-sizing: content-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    
    background: #241827;
    
    font-family: sans-serif;
    color: #fff;
}

.numeric-clock {
    font-size: 10rem;
}
